.grid {
  grid-template-columns: 1fr 2fr;
}

.nav-button {
  font-size: 3em;
}

li[hx-get],
span[hx-get] {
  cursor: pointer;
}

span[hx-get].active {
  opacity: 0.5;
}

li[hx-get].active {
  font-weight: bold;
  color: var(--pico-primary);
  list-style-type: "→ ";
}

div.header-logos {
  background-color: rgb(12,34,68);
  border-radius: 15px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25em;
  padding: .5em;
}

div.question {
  background-color: rgb(30,98,120);
  border: 2px solid rgb(35,73,167);
  border-radius: 15px;
  color: rgb(244,151,20);
  padding: .5em;
}
