<header>
 <h1>AI Impacts All Levels of the Library</h1>
</header>
<section>
  <p>
    Large Language Models (LLMs) are really the first wide-spread generalist 
    artificial intelligence. As mentioned in a recent report by Antropic's economists,
    Libraries (and higher education) have a higher theoretical AI coverage and as a result have
    a higher observed AI coverage.
  </p>
  <a href="https://www.anthropic.com/research/labor-market-impacts">
    <img src="img/labor-market-impacts-of-ai.png" alt="Labor Market Impacts of AI: A new measure and early evidence">
  </a> 
  <p>
    Patrons, Librarians, and Library Staff likely use generative AI in a variety ways. For example:
  </p>
  <ul>
    <li><strong>Patrons:</strong> Ask reference librarians for assistance in finding sources mentioned in chat 
     sessions with LLMs</li>
    <li><strong>Administrators:</strong> LLMs assist in analysis and writing reports to library stakeholders</li>
    <li><strong>Catalogers:</strong> Use LLMs to summarize electronic text, assist in Subject Headings Assignment</li>
    <li><strong>Circulation:</strong> LLMs assist in patron communication via email or chat</li>
  </ul>
  <p>
     
  </p>
</section>
<footer>
  <span hx-get="topics/home.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/external-internal-agents.html" 
         hx-target="#article"
         class="nav-button">&#9193;</span>
</footer>
