<header>
  <h1>Automate the Easy</h1>
</header>
<section>
  <h2>Identification of Tasks</h2>
  <p>
   What tasks in library workflows are repetitive with low cognitive
   requirements?
  </p>
  <p>
   What are the risks if the task isn't performed correctly? When mistakes
   occur, how easy is it fix? Are the fixes predictable?
  </p>
</section>
<footer>
  <span hx-get="topics/progressive-ai-assistance.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/looping-us-in-for-the-hard.html" 
        hx-target="#article"
        class="nav-button">&#9193;</span>
</footer>
