<header>
  <h1>Blurring of Systems</h1>
</header>
<div class="grid">
  <section>
   <div style="border: 1px solid black; padding: .5em;">
     <h3>What is MCP?</h3>
     <p>
       <a href="https://modelcontextprotocol.io/">Model Context Protocol (MCP)</a> is 
       an open-source communication standard that allows LLMs to connect and 
       interoperate with external tools, data sources, and systems.   
     </p>
   </div>
  </section>
  <section>
    <h2>Focus on Workflows</h2>
    <p>
      With more external systems supporting MCP for use by AI models and
      agents, people's attention shifts from knowing how to do "x,y,z" in a
      integrated library system to doing task 1, task 2, and task 3 that spans multiple
      systems with primary interface being a text prompt to an AI Agent.
    </p>
    <p>
      Even without a MCP endpoint, AI Agents can manipulate web browsers and 
      native apps to accomplish goals coordinated by the library users and not
      as much on the learning the specifics of a various library system platforms,
      digital repositories, electronic databases, and websites.
    </p>
  </section>
</div>
<section>
  <h2>Blue Core &amp; FOLIO</h2>  
  <p>
    Blue Core is a collaborative library metadata environment of linked open BIBFRAME data,
    cooperatively managed by multiple institutions, that share BIBFRAME Works and Instances,
    for downstream library uses like discovery, circulations, and acquisitions. Blue Core attempts
    to reduces or eliminates duplicative workflows among the member institutions.
  </p>
  <a href="https://bluecore.info/"><img src="img/bluecore-dev.png" alt="Blue Core Development Environment"></a>
  <p>
    Of the initial set of five partners, three (Library of Congress, Stanford University, and
    Cornell University) are all FOLIO libraries. From its inception, Blue Core has been "AI forward"
    with the prototype's API also providing MCP endpoints for models and AI Agents.
  </p>
</section>
<footer>
  <span hx-get="topics/looping-us-in-for-the-hard.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/short-history-edge-ai.html" 
        hx-target="#article"
        class="nav-button">&#9193;</span>
</footer>
