<header>
 <h1>External &amp; Internal AI Agents</h1>
</header>
<section>
  <blockquote cite="https://cloud.google.com/discover/what-are-ai-agents">
   AI agents are software systems that use AI to pursue goals and complete tasks on 
   behalf of users. They show reasoning, planning, and memory and have a level of 
   autonomy to make decisions, learn, and adapt.
  </blockquote>
  <p>
     <cite>What is an AI agent?</cite> From 
     <a href="https://cloud.google.com/discover/what-are-ai-agents">Google Cloud</a>
  </p>
</section>
<section>
  <h3>External AI Agents</h3>
  <a href="https://openclaw.ai/"><img src="img/openclaw-website.png" alt="OpenClaw Website"></a>
  <ul>
    <li><strong><a href="https://openclaw.ai/">Openclaw</a></strong></li> 
    <li><strong><a href="https://claude.com/product/claude-code">Claude Code</a></strong> </li> 
    <li><strong><a href="https://chatgpt.com/codex">Codex</a></strong> </li>
  </ul>
</section>
<section>
  <h3>Internal AI Agents</h3>

</section>
<footer>
  <span hx-get="topics/ai-impacts.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/progressive-ai-assistance.html" 
        hx-target="#article"
        class="nav-button">&#9193;
  </span>
</footer>
