<header>
  <h1>Inventory AI Agent</h1>
</header>
<section>
  <h2>Implementation in Edge-AI</h2>

  <img src="img/sul-ai-app-inventory.png" alt="SUL Metadata AI Application">
  <p>
    An early web application allows metadata staff to enter a text prompt 
    describing a book or upload an image of book cover and the <strong>edge-ai</strong>
    Inventory Agent creates and saves a FOLIO Instance record.
  <p>
</section>
<footer>
  <span hx-get="topics/mcp-edge-ai.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/acquisition-agent.html" 
        hx-target="#article"
        class="nav-button">&#9193;</span>
</footer>
