<header>
  <h1>Looping Us in the for the Hard</h1>
</header>
<section>
  <h2>Humans in the Loop (HITL)</h2>
  <blockquote cite="https://www.ibm.com/think/topics/human-in-the-loop">
    Human-in-the-loop (HITL) refers to a system or process in which a human 
    actively participates in the operation, supervision or decision-making 
    of an automated system. In the context of AI, HITL means that humans are 
    involved at some point in the AI workflow to ensure accuracy, safety, 
    accountability or ethical decision-making.
  </blockquote>
  <p>
   <a href="https://www.ibm.com/think/topics/human-in-the-loop"><cite>What is human-in-the-loop?</cite></a>
   by Cole Stryker, AI Models IBM Think  
  </p>
</section>
<section>
  <h2>What is "Hard"?</h2>
</section>
<footer>
  <span hx-get="topics/automate-the-easy.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/blurring-of-systems.html" 
        hx-target="#article"
        class="nav-button">&#9193;</span>
</footer>
