<header>
  <h1>Progressive AI Assistance</h1>
</header>
<section>
  <h2>Karpathy's Autonomy Slider</h2>
  <p>
   In a presentation from last year, Andrej Karpathy, an famous AI Engineer who coined the term 
  "vibe coding", talks about a UI/UX concept for inclusion of AI features in software.
  </p> 
  <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/LCEmiRjPEtQ?si=5Gr6DK_R_vNRJQb5&amp;clip=UgkxDLXwKsLwQaK2vybBb3k_KQB6DqFaPiGu&amp;clipt=EL-hZxiLumo" title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
<footer>
  <span hx-get="topics/external-internal-agents.html" 
         hx-target="#article"
         class="nav-button">&#9194;</span>
  <span hx-get="topics/automate-the-easy.html" 
        hx-target="#article"
        class="nav-button">&#9193;
  </span>
</footer>
