<header>
  <h1>Reporting AI Multi-Agents</h1>
</header>
<section>
  <h2>Circulation and Inventory Reports</h2>
  <p>
    Use Claude Code, Gemini CLI, or Open AI Codex Agents and <a href="https://agentskills.io/">Skills</a> to run 
    reports for a FOLIO instance. To help jumpstart the use of these agents, the following Github repository 
    contains helper scripts and instructions: 
  </p>
  <p style="font-size: 1.2em">
   <a href="https://github.com/folio-labs/ai-reporting-plugin">https://github.com/folio-labs/ai-reporting-plugin</a>
  </p>
  <p>
    We will be using the current FOLIO Sunflower demo environment:<br>
    <a href="https://folio-sunflower.dev.folio.org/">https://folio-sunflower.dev.folio.org/</a>
    <ul>
      <li><strong>user:</strong> <em>diku_admin</em></li>
      <li><strong>password:</strong><em>admin</em></li>
    </ul>
  </p>
</section>
<section>
  <h2>Install AI Coding Assistants</h2>
  <ul>
    <li>Download and install Claude Code: <code>curl -fsSL https://claude.ai/install.sh | bash</code> or with 
    Windows Powershell 
    <code>irm https://claude.ai/install.ps1 | iex</code></li>
    <li>Download and install Gemini CLI: <code>npm install -g @google/gemini-cli</code></li>
    <li>Download and install Open AI Codex CLI: <code>npm i -g @openai/codex</code></li>
  </ul>
</section>
<section>
  <h2>Demo One: Claude Code Agent</h2>
  <ol>
    <li>Please look in skills/ directory for skills to use</li>
    <li>Please create an invoice report</li>
  </ol>
</section>
<section>
  <h2>Demo Two: Claude Code Multi-Agent Team</h2>
  <ol>
    <li>Create an agent team described in the `agents/` directory.</li>
    <li>The reporter agent should create a checkout report and the verifier agent 
        should verify the report</li>
  </ol>
</section>
<section>
</section>
<footer>
  <span hx-get="topics/acquisition-agent.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/folio-future-ai.html" 
        hx-target="#article"
        class="nav-button">&#9193;</span>
</footer>
