<header>
  <h1>A Short History of Edge AI</h1>
</header>
<table>
  <thead>
    <th>Date</th>
    <th>Description</th>
  </thead>
  <tbody>
   <tr>
     <td>16 November 2023</td>
     <td>Code for the presentation <a href="https://ai4lam.github.io/catalog-chat/">Chatting with your Catalog: Exploring the use of LLMs with FOLIO LSP</a> for the 2023 Fantastic Futures conference, was the bases for the first iteration of the <strong>edge-ai</strong>.
   </tr>
   <tr>
     <td>3 June 2024</td>
     <td>First commit in <a href="https://github.com/folio-labs/edge-ai/">edge-ai module</a> in Github. 
   </tr>
   <tr>
     <td>23 September 2024</td>
     <td>Edge-AI used as part of the WOLFcon 2024 Workshop, 
        <a href="https://sul-dlss-labs.github.io/wolfcon-2024-ai-workshop/">Understanding and Using AI Workflows with FOLIO</a>, in London.
     </td>
   </tr>
   <tr>
     <td>8 April 2025</td>
     <td>Major refactor of code to use <a href="https://ai.pydantic.dev/">Pydanic AI</a> with AI Agents.
   </tr>
   <tr>
     <td>28 April 2025</td>
     <td>Edge-AI deployed for Stanford University Libraries use in 
        <a href="https://github.com/sul-dlss-labs/sul-metadata-ai-frontend">internal web app</a>. 
     </td>
   </tr>
   <tr>
     <td>18 September 2025</td>
     <td>Edge-AI support for <a href="https://modelcontextprotocol.io/">Model Context Protocal (MCP)</a>
   </tr>
   <tr>
     <td>23 September 2025</td>
     <td>Edge-AI critical component of the WOLFcon 2025 Workshop,
     <a href="https://sul-dlss-labs.github.io/wolfcon-2025-ai-workshop/">Using Generative AI with FOLIO</a>, in Kansas City.
     </td>
   </tr>
  </tbody>
</table>
<footer>
  <span hx-get="topics/blurring-of-systems.html"
        hx-target="#article"
        class="nav-button">&#9194;</span>
  <span hx-get="topics/mcp-edge-ai.html" 
        hx-target="#article"
        class="nav-button">&#9193;</span>
</footer>
